<div class="content-wrapper">
  <div id="loading" *ngIf="isLoading">
    <img src="./assets/loading.gif" style="margin-top: 14%;position: absolute;">
  </div>
  <div class="card card-primary">
    <div class="card-header">
      <h3 class="card-title">Manage User</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form>
      <div class="card-body">
        <div class="row">

          <div class="col-lg-6">
            <div class="form-group">
              <label>Employee Name</label>
              <input
                type="text"
                class="form-control"
                id="empName"
                name="employeeName"
                placeholder="Employee Name"
                [(ngModel)]="user.name"
              />
              <div style="color: red" *ngIf="nameInvalid">
                * Name is required.
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Email</label>
              <input
                type="email"
                class="form-control"
                placeholder="Email"
                id="email"
                name="email" [disabled]="isDisabled"
                [(ngModel)]="user.email"
              />

              <div style="color: red" *ngIf="emailInvalid">
                * Email is required.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>Contact No</label>
              <input
                type="number"
                class="form-control"
                placeholder="Telephone No"
                id="telephoneNo"
                name="telephoneNo"
                [(ngModel)]="user.telNo"
              />
              <div style="color: red" *ngIf="ContactInvalid">
                * Contact no is required.
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>Role</label>
              <!--[(ngModel)]="item.price"-->
              <select
                class="form-control select2"
                style="width: 100%"
                (change)="setUserRole($event)"
                [value]="user.role"
              >
                <option selected="selected">---Select Category---</option>
                <option *ngFor="let role of roles" value="{{ role }}">
                  {{ role }}
                </option>
              </select>
              <div style="color: red" *ngIf="roleInvalid">
                * Role is required.
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6" *ngIf="isDisabled == false">
            <div class="form-group">
              <label>Password</label>
              <input
                type="password"
                class="form-control"
                placeholder="Password"
                id="password"
                name="password"
                [(ngModel)]="user.password"
              />
              <div style="color: red" *ngIf="passwordInvalid">
                * Password is required.
              </div>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label>Address</label>
              <textarea
                class="form-control"
                rows="5"
                placeholder="Enter Address"
                id="address"
                name="address"
                [(ngModel)]="user.address"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <!-- /.card-body -->

      <div class="card-footer">
        <button type="submit" class="btn btn-danger">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          style="float: right"
          (click)="save()"
        >
          {{ type }}
        </button>
      </div>
    </form>
  </div>
</div>

<button
  id="modelSuccess"
  name="modelSuccess"
  [hidden]="true"
  data-toggle="modal"
  data-target="#modal-success"
>
  Open Modal
</button>
<div class="modal fade" id="modal-success">
  <div class="modal-dialog">
    <div class="modal-content bg-success">
      <div class="modal-header">
        <h4 class="modal-title">Success</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ message }}&hellip;</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button
          type="button"
          class="btn btn-outline-light"
          data-dismiss="modal"
          (click)="clear()"
        >
          Done
        </button>
        <!--        <button type="button" class="btn btn-outline-light">Done</button>-->
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
<button
  id="dangerModel"
  name="dangerModel"
  [hidden]="true"
  data-toggle="modal"
  data-target="#modal-danger"
></button>

<div class="modal fade" id="modal-danger">
  <div class="modal-dialog">
    <div class="modal-content bg-danger">
      <div class="modal-header">
        <h4 class="modal-title">Failed</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>{{ failedMessage }}</p>
      </div>
      <div class="modal-footer justify-content-between">
        <button
          id="close"
          type="button"
          class="btn btn-outline-light"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
